extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Donec eu molestie ante. Phasellus et semper lectus. Curabitur lacinia tincidunt luctus. Donec a sapien nibh. Aliquam vel blandit orci. Quisque imperdiet tortor et ipsum tempor, in eleifend odio ultricies. Sed vitae faucibus erat.
                p Proin scelerisque neque in est placerat eleifend. Maecenas in nisl ligula. Proin non suscipit urna. Etiam lacus lectus, ornare eu ultrices eleifend, placerat tincidunt tortor. Praesent mattis pulvinar consectetur. Praesent sit amet varius turpis. Pellentesque efficitur quis neque nec consectetur. Mauris sollicitudin nunc vel erat suscipit, ac lobortis tortor semper.
                p id eros sit amet urna tempor tempor ut ut nibh. Vestibulum convallis ipsum dui, sed viverra tellus fermentum ac. Praesent ullamcorper ultrices tempus. Quisque eu laoreet magna. Etiam laoreet a erat sed blandit. In interdum eu velit id finibus. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin ac arcu enim. Cras aliquet ut elit vel semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Proin ac arcu enim. Cras aliquet ut elit vel semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Proin ac arcu enim. Cras aliquet ut elit vel semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. 